@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@700&display=swap');

h2 {
	font-size: $font-size-h2;
	line-height: $line-height-h2;
	font-family: $font-family-heading;
	color: $color-espresso;
}
