.hero {
	height: 627px;
	background: $color-caramel;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-image: url('/hero-bg.svg');
	background-position: center;
	background-size: cover;
	&__logo {
		max-width: 34.75rem;
		display: none;
		margin-bottom: 3rem;
		@include md {
			display: block;
		}
	}
	&__button {
		min-width: 10rem;
		&:not(:last-child) {
			margin-right: 1rem;
		}
	}
}
